<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <script type="text/javascript" src="<%= assetBundles.main.js %>" charset="utf-8"></script>
  <body>
    <div id="container"></div>
  </body>
</html>
